<!doctype html>
{% load static %}
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maktab</title>
    	<!-- Favicon -->
	  <link href="{% static 'webuni/img/favicon.png' %}" rel="shortcut icon"/>

    	<!-- Google Fonts -->
	  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
      
      <!--Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body style="background-image: url('{%static '/img/index_background.png'%}');">
{% load static %}
{% block content %}

<!-- Page  -->
<section class="blog-page spad pb-0">
  <div class="container">
    <h1 style="color: white; text-align: center; padding-top: 20px;">Blog Posts</h1>
    <h3 style="color: white; text-align: center; padding-top: 20px;">This is our blog page where students and teachers can post their own posts to our platform. They can post interesting facts about subjects like programming or math.</h3>
    <div class="row">
      <div class="col-lg-9">
        {% if posts %}
        {% for post in posts %}
        <!-- blog post -->
        <h2 style="color: white; padding-top: 20px;">Posts:</h2>
        <div class="blog-post">
          <img src="img/blog/1.jpg" alt="">
          <h3 style="color: white;">{{ post.title }}</h3>
          <div class="blog-metas">
            <div class="blog-meta author">
              <div class="post-author set-bg" data-setbg="/media/{{ post.author.profile.profile_pic }}"></div>
              <a href="#">{{ post.author|capfirst }}</a>
            </div>
            <div class="blog-meta">
              <a href="#">{{ post.created_date }}</a>
            </div>
          </div>
          <p style="color: white;">{{ post.text|capfirst }} </p>
          <a href="/blog/{{ post.id }}" class="btn btn-primary">Read More</a>
        </div>
        {% endfor %}
        {% else %}


        {% endif %}
        
  
      </div>
      <div>
        <div class="form-container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <form class="search-widget" style="width: 600px; background-color: rgba(255, 255, 255, 0.37); padding: 30px; margin-top: 10%; margin-bottom: 20px; margin-left: 20px; box-sizing: border-box; color: white;">
            <input type="text" placeholder="Search">
            <button><i class="fa fa-search"></i></button>
          </div>
          </form>
        </div>
        <div style="text-align: center; margin-top: 20px;">
          <a href="{% url 'blogs:create_post' %}" class="btn btn-light">Create a post</a>
        </div>
    </div>
  </div>
</section>
<!-- Page end -->

{% endblock content %}