<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>

        	<!-- Favicon -->
	  <link href="{% static 'webuni/img/favicon.png' %}" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" height="30" width="30" class="d-inline-block align-top" alt=""> MAKTAB
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item" style="padding-left: 500px;">
                <a class="nav-link" href="{% url 'home' %}" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" style="color: white;">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}" style="color: white;">Contact</a>
            </li>
        </ul>
        <a href="{% url 'users:register' %}" type="button" class="btn btn-danger navbar-btn" style="border-radius: 20px; padding: 10px 20px; font-size: 16px;">SIGN UP</a>
    </div>
  </div>
  </nav>
<body>

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="{% static 'webuni/img/page-bg/4.jpg' %}">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>Contact</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<!-- Page -->
<section class="contact-page spad pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">
          <div class="section-title text-white text-left">
            <h2 style="color: black;">Get in Touch</h2>
            <p style="color: black;">You can send a message or leave a feedback. </p>
          </div>
          <form class="contact-form" style="margin-left: 3%; margin-top: 10px; background-color: bisque;">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your E-mail">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Message"></textarea>
            <button class="btn btn-light">Sent Message</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4" style="color: black;">
        <div class="contact-info-area">
          <div class="section-title text-left p-0">
            <h2>Contact Info</h2>
          </div>
          <div class="phone-number">
            <span>Direct Line</span>
            <h2>+998 90 032 34 77</h2>
          </div>
          <ul class="contact-list">
            <li>Country: Uzbekistan <br>Tashkent city</li>
            <li>School: MDIST</li>
            <li>Email: malika.butaboeva@gmail.com</li>
          </ul>
          <div class="social-links">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

